  body {
    background-color: #454242;
    cursor: url('https://cdn4.iconfinder.com/data/icons/24x24-free-application-icons/24/Dollar.png'),auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em
  }
  
  .relative {
    position: absolute;
    width:200px;
    height:50px;
    left: 550px;
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    top: 25%;
    background-color:silver;
    border: 3px solid #73AD21;
    cursor: url('https://cdn4.iconfinder.com/data/icons/24x24-free-application-icons/24/Dollar.png'),auto;
  }

.table{
font-family: 'Open Sans', sans-serif;
    opacity: 0;  
    height: 100px;
    width: 600px; 
    animation: opacityOn 5s normal forwards;
    animation-delay: 5s;
}

@keyframes opacityOn {
 
    100% {
        opacity: 1;
    }
}
.card{
 left:25%;
  background-color:silver;
  position: relative;
  width:650px;
  height:200;
    top: 200px;
}

  .btn{
    position: absolute;
    left:58%;
    top:26%;
    background-color: rgb(80, 252, 46);
    border-color:black;
    color: black;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
  }
 
.container{
  margin-top: 30px;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up)  */
 @media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
   
